<!--
  Generated template for the MyprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <img class="trai-menu" menuToggle src="assets/icon/menu.png" alt="">
    </button>
    <ion-title>
      <img class="header-img" alt="" src="assets/icon/header-logo.png">
    </ion-title>


  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="rk-menu">
    <ion-row>
      <ion-col col-2>
        <img src="assets/icon/my-profile.svg" alt="Account" style=" width: 47%; margin-top: 7%;">
      </ion-col>
      <ion-col col-10>
        <h5 style="line-height: 1px;color:#15488a; font-size: 1.8rem; margin-top: 15px;">My Profile</h5>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-3>
        <span>Name</span>
      </ion-col>
      <ion-col col-8 text-left>
         <ion-input style="border: 1px solid #fff;" type="text" [(ngModel)]="name" readonly  *ngIf="!nameEdit"></ion-input>
         <ion-input style="border: 1px solid lightblue; border-radius: 2px;" type="text" [(ngModel)]="name"  *ngIf="nameEdit"></ion-input>
      </ion-col>
      <ion-col col-1 text-left>
        <img src="assets/icon/edit.svg" alt="" (click)="nameEditFunc()">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-3>
        <span>Mobile No</span>
      </ion-col>
      <ion-col col-8 text-left>
       <ion-input type="text" [(ngModel)]="mobile" readonly></ion-input>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-3>
        <span>EmailId</span>
      </ion-col>
      <ion-col col-8 text-left>
        <ion-input style="border: 1px solid #fff;" type="text" [(ngModel)]="email" readonly  *ngIf="!emailEdit"></ion-input>
        <ion-input style="border: 1px solid lightblue; border-radius: 2px;" type="text" [(ngModel)]="email"  *ngIf="emailEdit"></ion-input>
      </ion-col>
      <ion-col col-1 text-left>
        <img src="assets/icon/edit.svg" alt="" (click)="emailEditFunc()">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-3>
        <span>DOB</span>
      </ion-col>
      <ion-col col-8 text-left>
        <ion-input style="border: 1px solid #fff;" type="text" [(ngModel)]="dob" readonly  *ngIf="!dobEdit"></ion-input>
        <ion-input style="border: 1px solid lightblue; border-radius: 2px;" type="text" [(ngModel)]="dob"  *ngIf="dobEdit"></ion-input>
      </ion-col>
      <ion-col col-1 text-left>
        <img src="assets/icon/edit.svg" alt="" (click)="dobEditFunc()">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-4>
        <span>Profession</span>
      </ion-col>
      <ion-col col-7 text-left>
      <ion-item *ngIf="professionEdit">
       <ion-select style="border: 1px solid lightblue; border-radius: 2px;" [(ngModel)]="profession">
        <ion-option value="Engineer" checked="true">Engineer</ion-option>
        <ion-option value="Doctor">Doctor</ion-option>
        <ion-option value="Police">Police</ion-option>
        <ion-option value="IAS">IAS</ion-option>
        <ion-option value="Others">Others</ion-option>        
      </ion-select>
      
    </ion-item>
         <ion-input type="text" [(ngModel)]="profession" readonly  *ngIf="!professionEdit"></ion-input>       
      </ion-col>
      <ion-col col-1 text-left>
        <img src="assets/icon/edit.svg" alt="" (click)="professionEditFunc()">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="product-history-card font-15">
    <ion-row>
      <ion-col col-3>
        <span>URN hash</span>
      </ion-col>
      <ion-col col-9 text-left>
         <ion-input type="text" [(ngModel)]="ids" readonly></ion-input>
        
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row text-center (click)="submit()">
    <ion-col col-12 text-center>
      <button ion-button round>Submit</button>
    </ion-col>
  </ion-row>
</ion-content>
